<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>for yyh</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- styles -->
    <link href="stylesheets/style.css" rel="stylesheet">
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/socket.io.js"></script>

</head>
<body>
    <form id="info" method="post" action="/">
        关键词(品牌名/商品名)<input id="keyword" type="text" name="keyword">
        地区<input type="text" id="area" name="area">
        搜索前<input type="text" id="pageCount" name="pageCount">页
        <button type="submit">搜索</button>
    </form>
    <div id="result"></div><br>
    progress:<div id="progress"></div>
</body>
<script>
    $( document ).ready(function() {
        var socket = io();
        $("#info").submit(function(){
            $("#result").empty();
            $("#result").append("searching...<br>");
            var d = {};
            var t = $('#info').serializeArray();
            $.each(t, function() {
                d[this.name] = this.value;
            });
            socket.emit('searchInfo', JSON.stringify(d));

            return false;
        });
        socket.on('searchResult', function (data) {
            if(data === "finished!"){
                $("#result").append(data);
            }else{
                $("#progress").text(data.progress);
                $("#result").append("<a href='"+data.url+"' target='_blank'>"+data.url+"</a><br>");
            }
        });
    });
</script>
</html>